<footer role="contentinfo">
			<div class="row">
				<div class="row-content buffer clear-after">
					<section id="top-footer">
						<div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->

						</div>
						<div class="widget column three">

						</div>
						<div class="widget column three">

						</div>
						<div class="widget meta-social column three">
							<h4>Follow Me</h4>
							<ul class="inline">
								<li><a href="https://twitter.com/{{site.twitter_username}}" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href="https://github.com/{{site.github_username}}" class="github-share border-box"><i class="fa fa-github fa-lg"></i></a></li>
								<!--<li><a href="#" class="pinterest-share border-box"><i class="fa fa-pinterest fa-lg"></i></a></li>-->
							</ul>
						</div>
					</section><!-- top-footer -->
					<section id="bottom-footer">
						<p class="keep-left">&copy; 2014 <a href="http://mokaine.com/" alt="Mokaine Lab">Mokaine</a>. All Rights Reserved.</p>
						<p class="keep-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
					</section><!-- bottom-footer -->
				</div><!-- row-content -->
			</div><!-- row -->
		</footer>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="/js/plugins.js"></script>
		<script src="/js/beetle.js"></script>


    <!--<footer class="site-footer">

      <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{{ site.title }}</li>
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
          </div>

          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.github_username %}
              <li>
                {% include icon-github.html username=site.github_username %}
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                {% include icon-twitter.html username=site.twitter_username %}
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="footer-col footer-col-3">
            <p>{{ site.description }}</p>
          </div>
        </div>

      </div>

    </footer>
    -->
