<header role="banner" class="transparent light">
	<div class="row">
		<div class="nav-inner row-content buffer-left buffer-right even clear-after">
			<div id="brand">
				<h1 class="reset"><!--<img src="img/logo.png" alt="logo">--><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
			</div><!-- brand -->
			<a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
			<nav>
        <ul class="reset" role="navigation">
        {% for my_page in site.pages %}
          {% if my_page.title %}
  					<li class="menu-item">
              <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
				</ul>
			</nav>
		</div><!-- row-content -->
	</div><!-- row -->
</header>
