<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PQFNHPK');</script>
    <!-- End Google Tag Manager -->

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ page.title}} | {{site.title }}</title>
    <meta name="description" content="Technology blog about Sitecore XP and Sitecore Content Hub.">
    <meta name="author" content="Szymon Kuźniak">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/assets/js/modernizr.js"></script>
    <script defer src="/assets/js/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">

</head>

<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQFNHPK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include header.html %}

    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">
            
            <div id="main" class="s-content__main large-12 column">
                {{ content }}
            </div>

        </div> <!-- end row -->

    </div> <!-- end content-wrap -->

    {% include footer.html %}

    <!-- Java Script
    ================================================== -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>